.flex-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    /* ↓のコメント外して試してみて */
    /*align-items: flex-start;*/
    align-content: flex-start;
  }
.flex-item {
    flex: 1 1 20%;
    border: 1px solid #fff;
    padding: 10px;
    background-color: #e5e5e5;
    align-items: flex-start;
}
@media only screen and (max-width: 760px) {
    .flex-container {
        flex-flow: column;
    }
}
