nav ul {
    /* flex 表示を使いますよ */
    display: flex;
    /* 横並びにする */
    flex-flow: row;
    /* 折り返し設定 wrap:折り返すYO!　nowrap:折り返さない */
    flex-wrap: nowrap;
    /* 部品をどう置くか center:真ん中寄せ*/
    /*justify-content: center;*/

    margin: 0;
    padding: 6px;
    /* リストの「・」をなくす */
    list-style-type: none;
    
}

nav a {
    /* 箱型表示 */
    display: block;
    /* 角をちょっと丸くする */
    border-radius: 4px;
    margin: 1px;
	padding: 12px 24px;
    text-align: center;

    color: white;
    background-color: #222222;
    /* テキストに下線をつけない */
    text-decoration: none;
    min-width: 120px;
    
    /* 枠に影をつける */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

nav a:hover {
	background-color: #f70;
}

/* 初期状態ではドロップダウンのリンクは非表示 */
li ul {
    display: none;
}

/* hover 時にドロップダウンを表示*/
ul li a:hover + .hidden, .hidden:hover {
    display: flex;
    /* 縦並びにする */ 
    flex-flow: column;
    margin: 0;
    padding: 0;
    width: auto;
}

li ul li a {
    background-color: #e7e7eb;
    color: black;
}

/* モバイルなどの小さい画面向け(とりあえず760px区切り) */
@media screen and (max-width : 760px){
    /* ドロップダウンリストの定義*/
    nav ul {
        /* 縦並びにする */
        flex-flow: column;
        width: 100%;
        height: 100%;
    }

    nav a {
        width: 100%;
        margin: 0;
        padding: 12px 0;
    }

    /* メニューの区切り */
    nav li {
        margin-bottom: 1px;
    }
}
